<a href="https://colab.research.google.com/github/Squineston/Data-Structures/blob/main/Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas

In [13]:
integer = int(input("Please enter an integer value greater than 0:"))

Please enter an integer value greater than 0:1

In [14]:
while integer <= 0:
  integer = int(input("Invalid Input. Please enter an integer value greater than 0:"))

In [19]:
def fibonacci(n):
  if n == 1:
    sequence = [0]
    return sequence
  else:
    sequence = [0, 1]
    for i in range(2, n):
      sequence.append(sequence[i - 1] + sequence[i - 2])
      return sequence

In [20]:
def even(n):
    sequence = []
    for i in range(0, n*2):
      if i%2 == 0:
        sequence.append(i)
    return sequence

In [21]:
def odd(n):
    sequence = []
    for i in range(0, n*2):
      if i%2 != 0:
        sequence.append(i)
    return sequence

In [22]:
data = {
  "Even": even(integer),
  "Odd": odd(integer),
  "Fibonacci": fibonacci(integer)
}

In [23]:
df = pandas.DataFrame(data)

In [24]:
 print(df)

   Even  Odd  Fibonacci
0     0    1          0